<% content_for :moreScripts do %>
<script type="text/javascript" charset="utf-8">
	var $ = jQuery.noConflict();
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "fade"
		});

		$(function() {
			$('.show_menu').click(function() {
				$('.menu').fadeIn();
				$('.show_menu').fadeOut();
				$('.hide_menu').fadeIn();
			});
			$('.hide_menu').click(function() {
				$('.menu').fadeOut();
				$('.show_menu').fadeIn();
				$('.hide_menu').fadeOut();
			});
		});

	});

	jQuery(function($) {
		$(".tweet").tweet({
			join_text : "auto",
			username : "famousthemes",
			count : 1,
			auto_join_text_default : "we said,",
			auto_join_text_ed : "we",
			auto_join_text_ing : "we were",
			auto_join_text_reply : "we replied",
			auto_join_text_url : "we were checking out",
			loading_text : "loading tweets..."
		});
	}); 
</script>
<% end %>

<div id="shadow_bg">
	<div id="main_container">

		<a class="show_menu" href="#">menu</a>
		<a class="hide_menu" href="#">close menu</a>

		<div class="menu">
			<ul id="main_menu">
				<li>
					<a class="selected" href="index.html">Home</a>
				</li>
				<li>
					<a href="page.html">Nuestra Boda</a>
				</li>
				<li>
					<a href="gallery.html">Álbum de fotos</a>
				</li>
				<li>
					<a href="rsvp.html">RSVP</a>
				</li>
				<li>
					<a href="contact.html">Contacto</a>
				</li>
			</ul>
		</div>

		<div id="center_container">

			<div id="header">

				<div class="title">
					<a href="index.html">Alonso &amp; Maria</a>
				</div>
				<div class="description">
					<span class="swirl_left"><span class="swirl_right">27 de Abril 2013</span></span>
				</div>

			</div><!-- End of Header-->

			<div class="slider_container">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<a href="#"><%= image_tag "slider/slide1.jpeg" %></a>
							<div class="flex-caption">
								<div class="caption_title_line">
									<h2>La felicidad es una manera de viajar</h2>
									<p>
										"There is no more lovely, friendly and charming relationship, communion or company than a good marriage."
									</p>
								</div>
							</div>
						</li>
						<li>
							<a href="#"><%= image_tag "slider/slide2.jpeg" %></a>
							<div class="flex-caption">
								<div class="caption_title_line">
									<h2>Two hearts that beat as one</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
									</p>
								</div>
							</div>
						</li>
						<li>
							<a href="#"><%= image_tag "slider/slide3.jpeg" %></a>
							<div class="flex-caption">
								<div class="caption_title_line">
									<h2>Love is composed of a single soul</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
									</p>
								</div>
							</div>
						</li>
						<li>
							<a href="#"><%= image_tag "slider/slide4.jpeg" %></a>
							<div class="flex-caption">
								<div class="caption_title_line">
									<h2>Your hands your hearts</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="home_title">
				<h2>Bienvenidos al Website <span>de nuestra Boda</span></h2>
				<div class="clear"></div>
			</div>

			<div class="content">

				<div class="left12 about">
					<div class="about_pic">
						<%= image_tag "about_f.jpg" %>
					</div>
					<div class="about_right">
						<h2>Sobre Maria</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor <strong>exercitationem</strong> ut labore et dolore magna aliqua. Ut enim ad <strong><a href="#">consequatur</a></strong> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<a href="#" class="more_about">leer más</a>
					</div>
				</div>
				<div class="left12 about">
					<div class="about_pic">
						<%= image_tag "about_m.jpg" %>
					</div>
					<div class="about_right">
						<h2>Sobre Alonso</h2>
						<p>
							Ut enim ad <strong><a href="#">consequatur</a></strong> quis nos trud exercit ation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
						</p>
						<a href="#" class="more_about">leer más</a>
					</div>
				</div>

				<div class="left13 section_home">
					<h2>Locación de la <span>Boda</span></h2>
					<a href="#"><%= image_tag "image_13.jpg" %></a>
					<p>
						Ut enim ad minima veniam, quis nostru <strong>exercitationem</strong> ullam corporis laboriosam, nisi ut aliquid ex ea commodi <strong><a href="#">consequatur</a></strong>
					</p>
					<a href="#" class="section_more"><span class="swirl_left"><span class="swirl_right">read more</span></span></a>
				</div>

				<div class="left13 section_home">
					<h2>Mesa de <span>Regalos</span></h2>
					<a href="#"><%= image_tag "image_13_3.jpg"%></a>
					<p>
						Ut enim ad minima veniam, quis nostru <strong>exercitationem</strong> ullam corporis laboriosam, nisi ut aliquid ex ea commodi <strong><a href="#">consequatur</a></strong>
					</p>
					<a href="#" class="section_more"><span class="swirl_left"><span class="swirl_right">read more</span></span></a>
				</div>

				<div class="name_divider">
					MS
				</div>

				<div class="left13 fdivider">
					<h2>Latest <span>Tweets</span></h2>

					<div class="tweet"></div>
					<%= image_tag "icon_tweets.gif" %>
				</div>

				<div class="left13 fdivider">
					<h2>From the <span>Blog</span></h2>
					<div class="widget_post">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href="#"><strong>sed do eiusmod</strong></a>
						</p>
					</div>
					<div class="widget_post">
						<p>
							Dolor sit  elit, <a href="#"><strong>do eiusmod</strong></a> consectetur
						</p>
					</div>
					<div class="widget_post">
						<p>
							Consectetur adipisicing elit, <a href="#"><strong> eiusmod</strong></a> sed do adipisicing
						</p>
					</div>
				</div>

				<div class="left13">
					<h2>Say <span>Hello!</span></h2>
					<p>
						<strong>Email:</strong> wedding@email.com
						<br />
						<strong>Phone:</strong> 234 324 234 / 0678
						<br />
						<br />
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. Consectetur adipisicing elit, <a href="#"><strong> eiusmod</strong></a> sed do adipisicing
					</p>
				</div>

			</div>

			<div class="clear"></div>

		</div>

	</div>
</div>

<div class="footer">
	<div class="footer_content">
		<div class="footer_text">
			Marriage | Premium Wedding Template by <a href="http://famousthemes.com">Famous Themes</a>
			<br />
			Photos by <a href="http://antondemin.ru/" target="_blank">antondemin.ru</a>
		</div>
		<div class="footer_menu">
			<ul>
				<li class="selected">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="blog.html">Blog </a>
				</li>
				<li>
					<a href="gallery.html">Photo Album </a>
				</li>
				<li>
					<a href="rsvp.html">RSVP</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
				<li>
					<a onclick="jQuery('html, body').animate( { scrollTop: 0 }, 'slow' );"  href="javascript:void(0);" class="gotop" title="Go on top">TOP</a>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

</div>

<script type="text/javascript">
	var main_menu = new main_menu.dd("main_menu");
	main_menu.init("main_menu", "menuhover"); 
</script>
