<% content_for :moreScripts do %>
<script type="text/javascript" charset="utf-8">
	var $ = jQuery.noConflict();
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "fade"
		});

		$(function() {
			$('.show_menu').click(function() {
				$('.menu').fadeIn();
				$('.show_menu').fadeOut();
				$('.hide_menu').fadeIn();
			});
			$('.hide_menu').click(function() {
				$('.menu').fadeOut();
				$('.show_menu').fadeIn();
				$('.hide_menu').fadeOut();
			});
		});

	});

	jQuery(function($) {
		$(".tweet").tweet({
			join_text : "auto",
			username : "famousthemes",
			count : 1,
			auto_join_text_default : "we said,",
			auto_join_text_ed : "we",
			auto_join_text_ing : "we were",
			auto_join_text_reply : "we replied",
			auto_join_text_url : "we were checking out",
			loading_text : "loading tweets..."
		});
	}); 
</script>
<% end %>

			<div class="slider_container">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<a href="#"><%= image_tag "slider/slide1.jpeg" %></a>
							<div class="flex-caption">
								<!-- <div class="caption_title_line">
									<h2>La felicidad es una manera de viajar</h2>
									<p>
										"There is no more lovely, friendly and charming relationship, communion or company than a good marriage."
									</p> 
								</div>-->
							</div>
						</li>
						<li>
							<a href="#"><%= image_tag "slider/slide2.jpeg" %></a>
							<div class="flex-caption">
								<!-- <div class="caption_title_line">
									<h2>Two hearts that beat as one</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
									</p>
								</div> -->
							</div>
						</li>
						<li>
							<a href="#"><%= image_tag "slider/slide3.jpeg" %></a>
							<div class="flex-caption">
								<!-- <div class="caption_title_line">
									<h2>Love is composed of a single soul</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
									</p>
								</div> -->
							</div>
						</li>
						<li>
							<a href="#"><%= image_tag "slider/slide4.jpg" %></a>
							<div class="flex-caption">
								<!-- <div class="caption_title_line">
									<h2>Your hands your hearts</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
									</p>
								</div> -->
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="home_title">
				<h2>Bienvenidos <span>a nuestra Boda</span></h2>
				<div class="clear"></div>
			</div>

			<div class="content">

				<div class="left12 about">
					<div class="about_pic">
						<%= image_tag "about_maria.jpg" %>
					</div>
					<div class="about_right">
						<h2>Sobre Maria</h2>
						<p>
							Décima hija de los 11 hijos de <strong>Carlos Torre Hernández y Maria Estella Hütt Dorado</strong>. Estudió la licenciatura en Educación preescolar y le encanta trabajar de miss de inglés en el Kinder Kri Kri.
						</p>
					</div>
				</div>
				<div class="left12 about">
					<div class="about_pic">
						<%= image_tag "about_alonso.jpg" %>
					</div>
					<div class="about_right">
						<h2>Sobre Alonso</h2>
						<p>
							Primer hijo de los 3 hijos de <strong>Manuel Castañeda Sabido y Maria de Carmen Andrade Chalve</strong>. Estudió Ingeniería en Sistemas y trabaja felizmente como consultor en Faktos.
						</p>
					</div>
				</div>

				<div class="left13 section_home">
					<h2>Nuestra <span>Boda</span></h2>
					<a href="#"><%= image_tag "image_13.jpg" %></a>
					<p>
						El código de vestimenta es de tipo <strong>coctail formal </strong>.

            			La boda se realizar en la <strong><a href="http://www.360cities.net/image/parroquia-de-la-sagrada-familia-mexico#0.40,-24.20,90.0">Parroquia de la Sagrada Familia</a></strong> en la calle de Puebla 144, entre Orizaba y Jalapa en la colonia Roma Norte. La recepción se llevara acabo en el <strong><a href="http://www.chilango.com/restaurantes/roma/centro-gallego">Centro Gallego</a></strong> ubicado a solo unos metros de la iglesia sobre la calle de Colima 194, entre Orizaba y Jalapa. <strong><a target="_blank" href="https://maps.google.com/maps/ms?msid=206654135805157920352.0004d08366ab29f6abd42&msa=0&ll=19.421117,-99.160216&spn=0.006294,0.011104"> Ver Mapa.</a></strong>
					</p>
					<a href="about" class="section_more"><span class="swirl_left"><span class="swirl_right">leer más</span></span></a>
				</div>

				<div class="left13 section_home">
					<h2>Mesa de <span>Regalos</span></h2>
					<a href="#"><%= image_tag "image_13_3.jpg"%></a>
					<p>
						Compartir con ustedes esta noche tan especial es el mejor regalo. Pero no sean codos... Hay dos mesas de regalos: <strong><a href="#">Palacio de hierro</a></strong> y <strong><a href="#">Liverpool</a></strong>
					</p>
					<a href="#" class="section_more"><span class="swirl_left"><span class="swirl_right">leer más</span></span></a>
				</div>

				<div class="left13 section_home">
        			<h2>Hola!</h2>
					<p>
						<strong>Email:</strong> alonso.aca@gmail.com y maria.mth@gmail.com
						<br />
						<strong>Teléfono:</strong> 044-5551-05-6992 / 7002
						<br />
						<br />
						Nos encantaría escuchar de ti. Cualquier información extra que necesites <strong> háblanos</strong>.
					</p>
        		</div>

				<div class="name_divider">
					AM
				</div>

			</div>

			<div class="clear"></div>