<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
		<meta name="author" content="FamousThemes" />
		<meta name="description" content="Get in the spotlight" />
		<meta name="keywords" content="premium css templates, premium wordpress themes, famous themes, themeforest" />
		<title>Alonso y Maria</title>
		
		<%= stylesheet_link_tag    "application", :media => "all" %>

		<link rel="stylesheet" href="prettyphoto/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />

		<link href='http://fonts.googleapis.com/css?family=Ovo' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css' />

		<%= javascript_include_tag "application" %>
		
		<script type="text/javascript">

			$(function(){
				$(function() {
					$('.show_menu').click(function() {
						$('.menu').fadeIn();
						$('.show_menu').fadeOut();
						$('.hide_menu').fadeIn();
					});
					$('.hide_menu').click(function() {
						$('.menu').fadeOut();
						$('.show_menu').fadeIn();
						$('.hide_menu').fadeOut();
					});
				});
			});

		</script>

		<%= yield :moreScripts %>
		
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div id="shadow_bg">
			<div id="main_container">

				<%= render 'layouts/menu' %>

				<div id="center_container">

					<%= render 'layouts/header' %>

					<%= yield %>
				</div>
			</div>
		</div>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</body>
</html>
